<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="app"> 
        <div class="homepage-content">
            <h2>All messages</h2>
            <% if (messages.length > 0){ %>
                <% messages.forEach(message => { %>
                    <div class="box">
                        <h3><%= message.user %></h3>
                        <h5><%= message.text %></h5>
                    </div>
                <%  }) %>
            <% } else { %>
                <h2>No Messages Found</h2>
            <% } %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>